
    <div id="featured_products">
        <h4>Featured products</h4>
        <div class="block_content">
            <ul>
                <li class="ajax_block_product">
                    <a class="product_image" href="#" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?id_product=1&controller=product&id_lang=1" title="Acer Stream">
                        <img src="../images/1-home-1.jpg.png" tppabs="http://livedemo00.template-help.com/prestashop_41480/img/p/1/1-home.jpg" alt="Acer Stream"/></a>
                    <h5>
                        <a class="product_link" href="#" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?id_product=1&controller=product&id_lang=1" title="Acer Stream">Acer Stream</a>
                        <span class="price">$549.00</span> </h5>
                    <div>
                        <a class="add2cart ajax_add_to_cart_button" rel="ajax_id_product_1" href="javascript:if(confirm(%27http://livedemo00.template-help.com/prestashop_41480/index.php?controller=order&ipa=1  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters.  (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.)  \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/prestashop_41480/index.php?controller=order&ipa=1%27" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?controller=cart?qty=1&id_product=1&token=2d89a16e5ec1e842947241df5d0c85ee&add" title="Add to cart">Add to cart</a>
                    </div>
                </li>
                <li class="ajax_block_product">
                    <a class="product_image" href="#" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?id_product=2&controller=product&id_lang=1" title="Anycool D58">
                        <img src="../images/4-home-1.jpg.png" tppabs="http://livedemo00.template-help.com/prestashop_41480/img/p/4/4-home.jpg" alt="Anycool D58"/></a>
                    <h5>
                        <a class="product_link" href="#" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?id_product=2&controller=product&id_lang=1" title="Anycool D58">Anycool D58</a>
                        <span class="price">$215.00</span> </h5>
                    <div>
                        <a class="add2cart ajax_add_to_cart_button" rel="ajax_id_product_2" href="javascript:if(confirm(%27http://livedemo00.template-help.com/prestashop_41480/index.php?controller=order&ipa=2  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters.  (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.)  \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/prestashop_41480/index.php?controller=order&ipa=2%27" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?controller=cart?qty=1&id_product=2&token=2d89a16e5ec1e842947241df5d0c85ee&add" title="Add to cart">Add to cart</a>
                    </div>
                </li>
                <li class="ajax_block_product">
                    <a class="product_image" href="#" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?id_product=3&controller=product&id_lang=1" title="Anycool I929">
                        <img src="../images/7-home-1.jpg.png" tppabs="http://livedemo00.template-help.com/prestashop_41480/img/p/7/7-home.jpg" alt="Anycool I929"/></a>
                    <h5>
                        <a class="product_link" href="#" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?id_product=3&controller=product&id_lang=1" title="Anycool I929">Anycool I929</a>
                        <span class="price">$39.20</span> </h5>
                    <div>
                        <a class="add2cart ajax_add_to_cart_button" rel="ajax_id_product_3" href="javascript:if(confirm(%27http://livedemo00.template-help.com/prestashop_41480/index.php?controller=order&ipa=3  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters.  (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.)  \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/prestashop_41480/index.php?controller=order&ipa=3%27" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?controller=cart?qty=1&id_product=3&token=2d89a16e5ec1e842947241df5d0c85ee&add" title="Add to cart">Add to cart</a>
                    </div>
                </li>
                <li class="ajax_block_product">
                    <a class="product_image" href="index.php-id_product=4&controller=product&id_lang=1.htm" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?id_product=4&controller=product&id_lang=1" title="Anycool KDI D528">
                        <img src="../images/10-home-1.jpg.png" tppabs="http://livedemo00.template-help.com/prestashop_41480/img/p/1/0/10-home.jpg" alt="Anycool KDI D528"/></a>
                    <h5>
                        <a class="product_link" href="index.php-id_product=4&controller=product&id_lang=1.htm" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?id_product=4&controller=product&id_lang=1" title="Anycool KDI D528">Anycool KDI D528</a>
                        <span class="price">$315.00</span> </h5>
                    <div>
                        <a class="add2cart ajax_add_to_cart_button" rel="ajax_id_product_4" href="javascript:if(confirm(%27http://livedemo00.template-help.com/prestashop_41480/index.php?controller=order&ipa=4  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters.  (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.)  \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/prestashop_41480/index.php?controller=order&ipa=4%27" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?controller=cart?qty=1&id_product=4&token=2d89a16e5ec1e842947241df5d0c85ee&add" title="Add to cart">Add to cart</a>
                    </div>
                </li>
                <li class="ajax_block_product">
                    <a class="product_image" href="index.php-id_product=5&controller=product&id_lang=1.htm" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?id_product=5&controller=product&id_lang=1" title="Anycool Kdi T818">
                        <img src="../images/13-home-1.jpg.png" tppabs="http://livedemo00.template-help.com/prestashop_41480/img/p/1/3/13-home.jpg" alt="Anycool Kdi T818"/></a>
                    <h5>
                        <a class="product_link" href="index.php-id_product=5&controller=product&id_lang=1.htm" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?id_product=5&controller=product&id_lang=1" title="Anycool Kdi T818">Anycool Kdi T818</a>
                        <span class="price">$270.00</span> </h5>
                    <div>
                        <a class="add2cart ajax_add_to_cart_button" rel="ajax_id_product_5" href="javascript:if(confirm(%27http://livedemo00.template-help.com/prestashop_41480/index.php?controller=order&ipa=5  \n\nThis file was not retrieved by Teleport Pro, because it is addressed on a path excluded by the site\%27s Robot Exclusion parameters.  (Teleport Pro\%27s compliance with this system is optional; see the Project Properties, Netiquette page.)  \n\nDo you want to open it from the server?%27))window.location=%27http://livedemo00.template-help.com/prestashop_41480/index.php?controller=order&ipa=5%27" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?controller=cart?qty=1&id_product=5&token=2d89a16e5ec1e842947241df5d0c85ee&add" title="Add to cart">Add to cart</a>
                    </div>
                </li>
                <li class="ajax_block_product">
                    <a class="product_image" href="index.php-id_product=6&controller=product&id_lang=1.htm" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?id_product=6&controller=product&id_lang=1" title="Anycool T55">
                        <img src="../images/16-home-1.jpg.png" tppabs="http://livedemo00.template-help.com/prestashop_41480/img/p/1/6/16-home.jpg" alt="Anycool T55"/></a>
                    <h5>
                        <a class="product_link" href="index.php-id_product=6&controller=product&id_lang=1.htm" tppabs="http://livedemo00.template-help.com/prestashop_41480/index.php?id_product=6&controller=product&id_lang=1" title="Anycool T55">Anycool T55</a>
                        <span class="price">$620.00</span> </h5>
                    <div>
                        <a class="add2cart ajax_add_to_cart_button" rel="ajax_id_product_3" href="" title="Add to cart">Add to cart</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>